@charset "UTF-8";

body {
    font-family: Arial, Helvetica, sans-serif;
}

* {
    margin: 0px;
    padding: 0px;
}

::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}

.tela {
    width: 270px;
}

.botao {
    display: block;
    background-color: rgb(165, 0, 0);
    text-align: center;
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding-top: 20px;
    padding-bottom: 20px;
}

.botao:hover {
    background-color: red;
}
